/* Navbar Section */
nav{
    width: 100%;
}
.text_clr{
    color: rgba(255,66,165,1);
}
.navbar_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title_part,.link_part{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
.link_part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px; 
}
.link_part a{
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}
.follow_us{
    color: black;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 10px;
}
/* Bannner section */
.banner_sec{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    margin-top: 10px;
}
.banner_content{
    width: 50%;
    height: 600px;
    background-image:url(./images/Group\ 14.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner_content_title1{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-right: 60px;
}
.banner_content_title2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 60px; 
    margin-bottom: 10px;
}

.content_option{
    display: flex;
    flex-direction: column;
    margin-right: -42px;

}

.content_option p{
    margin: 5px;
}
.content_btn{
    margin: 20px 0px 0 0;

}
.sign_btn{
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
}
.go_btn{
    color: white;
    background: #4EC5F7;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
}
.banner_img{
    width: 50%;
    height: 600px;
}

/* Online game part */
#fun_txt{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.Online_game_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.game_content{
    text-align: center;
}
.game_content h1{
    font-size: 25px;
}
.game_content p{
    font-size: 10px;

}
.game_image_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.game_img_div{
    width: 250px;
    height: 400px;
    position: relative;
}
.game_img{
    width: 250px;
    height: 300px;
}
.game_img:hover{
    transition: 1s; 
    opacity: 0.5;
    border-radius: 12px;
    border: 5px solid #F948B2;
}

/* play instant */
.play_instant_sec{
    display: flex;
    margin-top: 40px;
    height: 600px;
    max-width: 80%;
    margin: 0 auto;
}
.play_instan_content{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 50%;
    padding: 200px 180px 0px 134px;
}
.play_instan_image{
    width: 50%;
}

.First_img{
    height: 90%;
}
.Second_img{
    position: relative;
    bottom: 215px;
    right: 112px;
}

/* Tyoe of game */
.Types_of_games{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.game_type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 50px;
    border: none;
    width: max-content;
    height: 70px;
    padding: 5px;
    margin: 15px 0px 0px 10px;
}
.game_type:hover{
    border: 1px solid  rgba(255,66,165,1);
    color: #F948B2;
}

/* Footer sec */

.footer_sec{
    width: 100%;
    background-color: rgba(8, 12, 48, 0.979);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.Footer_title_part{
    margin-top: 100px;display: flex;
    align-items: center;
    gap: 10px;
}
.Footer_title_img{
    height: 34px;
    width: 61px;
}
.service{
    margin-top: 35px;
    display: flex;
    gap: 30px;
}
.social{
    margin-top: 35px;
}
.social a{
    margin-left: 20px;
}
.foot_text_clr{
    color: white;
}
.terms_condition{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-top: 35px;
    display: flex;
    gap: 60px;
}
.copyright_part{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-bottom: 100px;
}
/* for mobile */
@media screen and (max-width:576px) {
    .navbar_section, .link_part{
        flex-direction: column;
    }
    .link_part{
        margin-top: 80px;
    }
    .game_image_part{
        flex-direction: column;
    }
    .banner_sec{
        flex-direction: column-reverse;
    }
    .play_instant_sec{
        flex-direction: column;
        height: 100vh;
    }
    .play_instan_content{
        margin-top: -200px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 154px 138px 0px 1px;

    }
    .play_instan_image{
        margin-left: 91px;
        margin-top: 40px    ;
    }
    .First_img {
        height: 60%;
        width: 253px;
    }
    .Second_img{
        height: 189px;
        bottom: 118px;
        right: 80px;
    }
    .Types_of_games{
        margin-top: 280px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 80%;
        
    }
    .game_type{
        gap: 0px;
        border-radius: 50px;
        border: none;
        width: 150px;
        height: 64px;
        padding: 0px;
        margin: 18px 0px 0px 10px;
    }
    .game_type_img{
        height: 45px;
        width: 45px;
    }
    .Footer_title_part{
        display: flex;
    align-items: center;
    }
    .service{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .social{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .social a{
        margin-top: 40px;
    }
    .terms_condition{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .terms_condition h6{
        margin-top: 10px;

    }
}




/* for tab */

@media screen and (min-width:576px) and (max-width:992px){
  
    .game_image_part{
        flex-wrap: wrap;
    }
    
    .Types_of_games{
        flex-direction: row-reverse;
    }
    .Footer_title_part{
    align-items: center;
    }
    .service{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .social{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);

    }
    .social a{
        margin-top: 40px;
    }
    .terms_condition{
        flex-wrap: wrap;

    }
    .terms_condition h6{
        margin-top: 10px;

    }
}
